.subHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    
}
.me{
    background-color: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    left: 50%;
    border-radius: 17rem 17rem 0 0;
    overflow: hidden;
    margin-top: 30px;
    min-width: 0;
}
.me img {
    width: 100%; 
    min-width: 0;
}
img{
    min-width: 0;
}
.scrollDown{
    transform: rotate(90deg);
}

a{
    color: #A892FF;
    
}

@media screen and (max-width: 800px) {

    *{
        padding: 0rem;
        margin: 0;  
        box-sizing: border-box; 
    }

    .subHeaderContainer{
        width: 100%;
        max-width: 800px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding-bottom: 5rem;
        
    }
}

@media screen and (max-width: 390px) {

    *{
        padding: 0rem;
        margin: 0;  
        box-sizing: border-box; 
    }

    .subHeaderContainer{
        width: 100%;
        max-width: 390px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding-bottom: 5rem;
        
    }

    .me{
        background-color: linear-gradient(var(--color-primary),transparent);
        width: 14rem;
        max-width: 100%;
        height: auto;
        border-radius: 17rem 17rem 0 0;
        overflow: hidden;
        justify-content: center; 
        align-items: center;    
    }
}