.contact-section {
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  
.contact-container {
    max-width: 600px;
    width: 100%;
    background-color: var(--color-bg-variant);
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(77, 181, 255, 0.1);
    text-align: center;
}
  
.contact-container h2 {
    font-family: Manrope;
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}
  
.contact-container p {
    color: var(--color-light);
    font-size: 1rem;
    margin-bottom: 2rem;
}
  
form input, form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff10;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
}
  
form input::placeholder, form textarea::placeholder {
    color: var(--color-light);
}
  
form textarea {
    resize: none;
    height: 150px;
}
  
form button {
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
}
  
form button:hover {
    background-color: var(--color-white);
    color: var(--color-bg);
}
  