*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.skillSection {
    display: grid;
    grid-template-columns: 60% 40%; 
    align-items: center;
    margin-top: -200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}  

.skillsImage {
    width: 100%;
    height: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.skillsImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.skills {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    padding-top: 32px;
    padding-bottom: 32px;
}

.skillsHeader {
    font-family: Manrope;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 1rem;
    color: var(--color-bg);
    
}

.tabButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.tabButtons button {
    padding: 0.7rem 1.5rem;
    border: 2px solid transparent;
    cursor: pointer;
    font-family: poppins;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #ccc;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.tabButtons button:hover {
    background-color: #bbb;
}

.tabButtons .activeButton {
    background-color: var(--color-bg);
    color: #fafafa;
}

.skillList {
    list-style-type: disc;
    padding-left: 1.5rem;
    background: var(--color-bg);
    color: #fafafa;
    padding: 2.5rem;
    border-radius: 12px;
    max-width: 300px;
    margin: 0 auto;
}

.skillList li {
    font-family: poppins;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: list-item;
    list-style-type: disc
}

.skillList ul {
    list-style: disc;
}


@media screen and (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .skillSection {
        width: 800px;
        height: auto;
        grid-template-columns: 1fr;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .skillsImage {
        width: 100%;
        height: auto;
    }

    .skillsImage img {
        width: 100%;
        height: 100%;
    }

    .skills{
        width: 100%;
        height: auto;
        margin: 0px;
    }

    .tabButtons {
        width: 100%;
        flex-wrap: wrap;
        padding-left: 220px;
        padding-right: 220px;
    }

    .tabButtons button {
        flex: 1;
        min-width: 120px;   
    }

    .skillList {
        list-style-type: disc;
        background: var(--color-bg);
        color: #fafafa;
        padding: 2rem;
        border-radius: 12px;
        max-width: 300px;

    }

    .skillList li {
        font-family: poppins;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        display: list-item;
        list-style-type: disc
    }
}

@media screen and (max-width: 430px) {

    #about{
        padding: 0rem;
        margin: 0;  
        box-sizing: border-box; 
    }

    .skillList {
        list-style-type: disc;
        padding-left: 1.5rem;
        background: var(--color-bg);
        color: #fafafa;
        padding: 2.5rem;
        border-radius: 12px;
        max-width: 250px;
        margin: 0 auto;
    }
    .skillsHeader{
        font-size: 1.2rem;
    }
    .tabButtons button{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 430px) {

    #about{
        padding: 0rem;
        margin: 0;  
        box-sizing: border-box; 
    }

    .skillList {
        list-style-type: disc;
        padding-left: 1rem;
        background: var(--color-bg);
        color: #fafafa;
        padding: 2.5rem;
        border-radius: 12px;
        max-width: 200px;
        margin: 0 auto;
    }

    .skillList li {
        font-family: poppins;
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
        display: list-item;
        list-style-type: disc
    }

   
}

@media screen and (min-width: 801px) {

    #about{
        padding: 0rem;
        margin: 0;   
    }

    .skillSection {
        display: grid;
        grid-template-columns: 60% 40%; 
        align-items: center;
        margin-top: -200px;
        margin-bottom: 0px;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }  
    
    .skillsImage {
        width: 100%;
        height: 80%; 
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .skillsImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .skills {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fafafa;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}