.aboutContainer{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    padding: 4rem;
}

.heading{
    font-family: Manrope;
    margin-top: 0px;
    color: var(--color-primary);
}

.aboutMe{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.aboutImage {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.aboutImage:hover {
    transform: rotate(0deg);
}


.aboutCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.aboutCard{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
.aboutCard:hover{
    background: transparent;
    border-color:  var(--color-primary-varient);
    cursor: default;
}
.aboutIcons{
    color:var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.aboutCard h5 {
    font-family: Manrope;
    font-size: 0.95rem;
}
.aboutCard small{
    font-size: 0.7rem;
    color: var(--color-light);
}

#about{
    padding: 0;
    margin: 0;
    
}

.aboutContent p {
    margin : 2rem 0 2.6rem;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 100;
    color: #fafafa;
}

.aboutMeContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-bottom: 2rem;
    min-height: auto;
      
    
}

.aboutMeImage {
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.aboutMeImage:hover {
    transform: scale(1.05);
    filter: brightness(1.1) contrast(1.05);
}


.aboutSection{
    width: fit-content;
    
}

.header{
    font-family: Manrope;
    margin-top: 0px;
    color: #A892FF;
}

.aboutPara{
    width: 100%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 100;
    color: #fafafa;
    margin-bottom: 1rem;
    line-height: 1.6rem;
}
  
.aboutMeImage{
    width: 60%;
    height: auto;
    margin-left: 140px;
    justify-items: center;
}

.headerSocials{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    left: 10%;
    bottom: 3rem;
    
}
.cvButton{
    width: fit-content;
    padding-right: 32px;
}

.btn{
    width: max-content;
    background-color: var(--color-primary);
    color: #fafafa;
    display: inline-block;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    padding: 0.75rem 3rem;
    transition: var(--transition);
   
}

.btn:hover{
    background: var(--color-white);
    border: transparent;
    color: var(--color-bg);
}


@media screen and (max-width: 800px) {

    #about{
        padding: 0rem;
        margin: 0; 
        box-sizing: border-box;
        width: 100%;
        max-width: 800px;  
        height: auto;
    }

    .mainAbout{
        width: 100%;
        max-width: 800px;
        height: auto;
    }
 
    .aboutMeImage {
        display: none;
    }
    
    .aboutMeContainer{
        padding-bottom: 15rem;
        margin-top: 0px;
        padding-top: 3rem;
    }

    .aboutContainer{
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .heading{
        text-align: center;
        
    }
    
    .aboutContent p {
        margin : 2rem 0 2.6rem;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 100;
        color: #fafafa;
    }

    .aboutMe{
        width: 70%;
        aspect-ratio: 1/1;
        border-radius: 2rem;
        background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
        display: grid;
        place-items: center;
    }
    
   
}
  
  @media screen and (max-width: 430px) {

    #about{
        padding: 0rem;
        margin: 0;   
    }
 
    .aboutMeImage {
        display: none;
    }

    .header{
        font-family: Manrope;
        margin-top: 0px;
        font-size: 1.2rem;
        color: #A892FF;
    }
    .aboutPara{
        width: 100%;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 100;
        color: #fafafa;
        margin-bottom: 1rem;
        line-height: 1.6rem;
    }

    .cvButton{
        width: fit-content;
        padding-right: 2px;
    }

    .btn{
        width: max-content;
        background-color: var(--color-primary);
        color: #fafafa;
        display: inline-block;
        border-radius: 0.4rem;
        cursor: pointer;
        border: 1px solid var(--color-primary);
        padding: 0.5rem 1.5rem;
        transition: var(--transition);
        text-decoration: underline;
       
    }
      
}

@media screen and (max-width: 1024px) {

    #about{
        padding: 0rem;
        margin: 0;   
    }

    
    .aboutMeContainer{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 4rem;
        margin-bottom: 2rem;
        min-height: auto;    
    }

    .aboutMeImage {
    display: none;
    }

    .heading{
        text-align: center;
        
    }

    .aboutContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    

    

}

@media screen and (min-width: 1025px) {

    .heading{
        text-align: center;
        
    }

    .mainAbout{
    
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .aboutContainer{
        
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 390px) {

    #about{
        padding: 0rem;
        margin: 0; 
        box-sizing: border-box;
        width: 100%;
        max-width: 390px;  
        height: auto;
    }

    .mainAbout{
        width: 100%;
        max-width: 390px;
        height: auto;
    }
 
    .aboutMeImage {
        display: none;
    }
    
    .aboutMeContainer{
        padding-bottom: 15rem;
        margin-top: 0px;
        padding-top: 3rem;
    }

    .aboutContainer{
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .heading{
        font-size: 24px;
        text-align: center;
        
    }
    
    .aboutContent p {
        margin : 2rem 0 2.6rem;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 100;
        color: #fafafa;
    }

    .aboutMe{
        width: 70%;
        aspect-ratio: 1/1;
        border-radius: 2rem;
        background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
        display: grid;
        place-items: center;
    }

    .aboutCards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .aboutCard{
        background: var(--color-bg-variant);
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        transition: var(--transition);
    }
    
   
}