.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(128, 113, 113, 0.037);
    backdrop-filter: blur(10px);
}

.nav-left {
    font-family: Manrope;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo {
    width: 40px;
    height: 40px;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: #fafafa;
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    
}


.nav-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
    
}

.nav-links a:hover::after {
    width: 100%;
}

/* Hamburger base */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .hamburger span {
    display: block;
    height: 3px;
    background: #fafafa;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  /* Hamburger to X animation */
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Slide-in menu for mobile */
  @media screen and (max-width: 800px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      position: fixed;
      top: 70px;
      right: -100%;
      flex-direction: column;
      background: rgba(128, 113, 113, 0.037);
      backdrop-filter: blur(10px);
      width: 150px;
      padding: 1rem;
      transition: right 0.3s ease;
      border-radius: 0 0 0 10px;
      gap: 1rem;
    }
  
    .nav-links.open {
      right: 0;
    }
  
    .nav-links a {
      font-size: 16px;
    }
  }
  