*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contacts{
    margin-top: -100px;
    padding: 0px;
}
.contact{
    font-family: Manrope;
    font-size: 32px;
    font-weight: 500;
    color: #A892FF;
    margin-bottom: 0px;
    text-align: center;   
}

.email{
    font-family: poppins;
    font-size: 1rem;
    font-weight: 500;
    color: #fafafa;
    text-align: center;
}


@media screen and (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #contacts{
        width: 100%;
        max-width: 800px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .contact{
        font-family: Manrope;
        font-size: 24px;
        font-weight: 500;
        color: #A892FF;
        margin-bottom: 0px;
        text-align: center;   
    }
    
    .email{
        font-family: poppins;
        font-size: 0.8rem;
        font-weight: 300;
        color: #fafafa;
        text-align: center;
    }
}


@media screen and (max-width: 430px) {

    #about{
        padding: 0rem;
        margin: 0;  
        box-sizing: border-box; 
    }

    .contact{
        font-family: Manrope;
        font-size: 1.2rem;
        font-weight: 500;
        color: #A892FF;
        margin-bottom: 0px;
        text-align: center;   
    }
    
    .email{
        font-family: poppins;
        font-size: 0.8rem;
        font-weight: 300;
        color: #fafafa;
        text-align: center;
    }
}

@media screen and (max-width: 260px) {

    #about{
        padding: 0rem;
        margin: 0;  
        box-sizing: border-box; 
    }

    .contact{
        font-family: Manrope;
        font-size: 1rem;
        font-weight: 500;
        color: #A892FF;
        margin-bottom: 0px;
        text-align: center;   
    }
    
    .email{
        font-family: poppins;
        font-size: 0.5rem;
        font-weight: 300;
        color: #fafafa;
        text-align: center;
    }
}


@media screen and (max-width: 390px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #contacts{
        width: 100%;
        max-width: 390px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .contact{
        font-family: Manrope;
        font-size: 18px;
        font-weight: 500;
        color: #A892FF;
        margin-bottom: 0px;
        text-align: center;   
    }
    
    .email{
        font-family: poppins;
        font-size: 0.7rem;
        font-weight: 300;
        color: #fafafa;
        text-align: center;
    }
}