#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    padding: 1rem 2rem;
}

.footerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #A892FF;
    padding-top: 1rem;
    width: 95%;
}

.copyRight {
    color: #fff;
    font-size: 14px;
}

.headerSocials {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.headerSocials a {
    color: #A892FF;
    font-size: 20px;
    transition: color 0.3s ease;
}

.headerSocials a:hover {
    color: #fff;
}

@media screen and (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #footer {
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        margin-top: 40px;
    }

    .footerContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #A892FF;
        padding-top: 0.5rem;
        width: 95%;
    }


    .copyRight {
        color: #fff;
        font-size: 10px;
    }

    .headerSocials {
        display: flex;
        gap: 0.8rem;
        margin-top: 0.5rem;
    }
    
    .headerSocials a {
        color: #A892FF;
        font-size: 16px;
        transition: color 0.3s ease;
    }
}

.skillList li {
        font-family: poppins;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        display: list-item;
        list-style-type: disc
}

@media screen and (max-width: 260px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .copyRight {
        color: #fff;
        font-size: 8px;
    }

    
    .footerContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #A892FF;
        padding-top: 0.2rem;
        width: 100%;
    }

    .headerSocials {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.3rem;
    }
    
    .headerSocials a {
        color: #A892FF;
        font-size: 12px;
        transition: color 0.3s ease;
    }
}

@media screen and (max-width: 390px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #footer{
        width: 100%;
        max-width: 390px;
    }

    .copyRight {
        color: #fff;
        font-size: 8px;
    }

    
    .footerContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #A892FF;
        padding-top: 0.2rem;
        width: 100%;
    }

    .headerSocials {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.3rem;
    }
    
    .headerSocials a {
        color: #A892FF;
        font-size: 12px;
        transition: color 0.3s ease;
    }
}